In [1]:
#2)How will you remove last object from a list?

l1=["smit","parth","kevin","harsh","paryag"]
l1.remove("paryag")


l1

['smit', 'parth', 'kevin', 'harsh']

In [3]:
#1) reverse method


l1=[1,21,34,56,78]
l1.reverse()

print(l1)

[78, 56, 34, 21, 1]

In [2]:
#3)Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?

l1=[2,33,222,14,25]

p=(l1[-1])

p

25

In [3]:
#4)Differentiate between append () and extend () methods? add the values

#ex: append

l1=[22,400.5,'jagruti',True,[44,66]]
l1.append(56)

l1

[22, 400.5, 'jagruti', True, [44, 66], 56]

In [4]:
#ex: exrend , remove the values


l1=[22,400.5,'jagruti',True,[44,66]]
l1.extend([56,"a",33])

l1

[22, 400.5, 'jagruti', True, [44, 66], 56, 'a', 33]

In [5]:
#5)Write a Python function to get the largest number, smallest num and sum 
#of all from a list.

#largest number


l1={11,22,45,46,67,990}
print(max(l1))

l1

990

{11, 22, 45, 46, 67, 990}

In [40]:
#smallest number

numer=[11,22,45,46,67,990]
p=min(numer)
print(p)

11

In [13]:
#6) comper method

l1=[1,2,3,4,5]
l2=[1,2,3,4,6]

if l1==l2:
    (True)
else:
    (False)

In [91]:
#7)Write a Python program to count the number of strings where the string 
#length is 2 or more and the first and last character are same from a given 
#list of strings. 
words= ['abc','xyz','aba','1221','343']
count=0
for word in words:
    if len(word)>1 and word[0]==word[-1]:
        count+=1
count

3

In [16]:
#8)Write a Python program to remove duplicates from a list.

l1=[10,20,20,30,50,40]

l=set(l1)
print(l)

{40, 10, 50, 20, 30}

In [17]:
#9) write a python program to chack a list is empty or not.

list1=[]

if len(list1)==0:
    print("the list is empty")
else:
    print("the list is not empty")

the list is empty

In [1]:
#10)Write a Python function that takes two lists and returns true if they have 
#at least one common member.


l1=[1,2,3,4,5]
l2=[5,6,7,8,9]
for i in l1:
    for j in l2:
        if(i==j):
            print("true")
        else:
            print("false")

false
false
false
false
false
false
false
false
false
false
false
false
false
false
false
false
false
false
false
false
true
false
false
false
false

In [18]:
#12)Write a Python program to generate and print a list of first and last 5 
#elements where the values are square of numbers between 1 and 30.

#1to6
#6to26
#26to31

list1=[]
for i in range(1,6):
    list1+=[i**2]
    
for i in range(6,26):
    list1+=[i]
    
for i in range(26,31):
    list1+=[i**2]
    

list1

[1,
 4,
 9,
 16,
 25,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 676,
 729,
 784,
 841,
 900]

In [3]:
#13)Write a Python function that takes a list and returns a new list with unique elements of the first list.

f=[1,2,3,2,4,5,6,5]
l=list(f)
for i in l:
    if l.count(i)>1:
        l.remove(i)
        
f=tuple(l)

f

(1, 3, 2, 4, 6, 5)

In [2]:
#14)Write a Python program to convert a list of characters into a string.

list1=('s','m','i','t')
list2=''.join(list1)
list2

'smit'

In [4]:
#15)Write a Python program to select an item randomly from a list.

import random
color_list = ['Red', 'Blue', 'Green', 'White', 'Black']
print(random.choice(color_list))

Green

In [21]:
#16)Write a Python program to find the second smallest number in a list.
# Python prog to illustrate the following in a list
def find_len(list1):
	length = len(list1)
	list1.sort()
	print("Largest element is:", list1[length-1])
	print("Smallest element is:", list1[0])
	print("Second Largest element is:", list1[length-2])
	print("Second Smallest element is:", list1[1])

# Driver Code
list1=[12, 45, 2, 41, 31, 10, 8, 6, 4]
Largest = find_len(list1)

Largest element is: 45
Smallest element is: 2
Second Largest element is: 41
Second Smallest element is: 4

In [22]:
#17)Write a Python program to get unique values from a list.

f=(10,20,30,20,40,50,60,50)
l=list(f)
for i in  l:
    if l.count(i)>1:
        l.remove(i)
        
f=tuple(l)
print(f)

(10, 30, 20, 40, 60, 50)

In [23]:
#18)Write a Python program to check whether a list contains a sub list.

def is_Sublist(l, s):
    sub_set = False
    if s == []:
        sub_set = True
    elif s == l:
        sub_set = True
    elif len(s) > len(l):
        sub_set = False

    else:
        for i in range(len(l)):
            if l[i] == s[0]:
                n = 1
                while (n < len(s)) and (l[i+n] == s[n]):
                        n += 1
                        if n == len(s):
                            sub_set = True
                            
    return sub_set

l = [1, 2, 3, 4, 5]
s = [2, 3]
print(is_sublist(l, s))


l = ['a', 'b', 'c', 'd']
s = ['b', 'c', 'e']
print(is_sublist(s, l))

NameError: name 'is_sublist' is not defined

In [40]:
list1=[1,2,3,4,4,5]
flag=False
for i in list1:
    print(type(i))
    if type(i) is list:
        flag=True
if flag:
    print("List is there in list")
else:
    print("Not exist")

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
Not exist

In [42]:
a = (1,45,24,2,4)


print(average(a))

NameError: name 'average' is not defined

In [4]:
#19)Write a Python program to split a list into different variables.

color=[("black"),("blue"),("red","orenge")]
var1,var2,var3=color
print(var1)
print(var2)
print(var3)

black
blue
('red', 'orenge')

In [ ]:
#20)What is tuple? Difference between list and tuple.

#->tuple are multiple items in a singal variable in one store.
#->tuple and kry differnce of key and tuple are immmuatable while list is mutable.

In [16]:
#21)Write a Python program to create a tuple with different data types.

tuple1=tuple(("apple","smit","parth",33,66))
print(tuple1)
list1=[12,'python',67]
print(tuple(list1))

('apple', 'smit', 'parth', 33, 66)
(12, 'python', 67)

In [2]:
#21)Write a Python program to create a tuple with numbers.

t1=33,5,66,34,88
print(t1)

(33, 5, 66, 34, 88)

In [22]:
#22)Write a Python program to convert a tuple to a string.

tuple1=['s','m','i','t','b','h','a','n','d','e','r','i'] 
str1= ''.join(tuple1)
print(str1)

smitbhanderi

In [18]:
#23)Write a Python program to check whether an element exists within a tuple.

tuple=("smit","python","66","p")
print("smit"in tuple)
print("parth" in tuple)

True
False

In [35]:
#24)Write a Python program to find the length of a tuple.

tuple="smitbhanderi"
count=0
while tuple[count:]:
    count=count+1
print(count)

12

In [2]:
#25)Write a Python program to convert a list to a tuple.

list1=[5,22,56,778,999]
print(list1)

tuple1=tuple(list1)
print(tuple1)

[5, 22, 56, 778, 999]
(5, 22, 56, 778, 999)

In [1]:
#26)Write a Python program to reverse a tuple.

tuple1= ("1","22","333","444","555","7777")
tuple2=reversed(tuple1)
print(tuple(tuple2))

('7777', '555', '444', '333', '22', '1')

In [29]:
#27)Write a Python program to replace last value of tuples in a list.

l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([f[:-1] + (100,) for f in l ])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]